:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /*Font Size*/
  --font-large: 35px;
  --font-medium: 24px;
  --font-small: 12px;
  --font-micro: 10px;

  /* color */
  --secondary-color: #89c3cc;
  --contrast-color: #7dbdc9;
}

* {
  margin: 5;
  padding: 5;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

header .logo {
  margin: 20px;
  padding: 20px;
  font-size: var(--font-large);
  color: rgb(5, 163, 184);
  font-weight: 800;
  z-index: 1;
}

header .logo a {
  color: rgb(5, 163, 184);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: lightcyan;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  animation: expand 0.8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  transition: all 0.8s ease;
  grid-template-columns: 3fr 1fr;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.container_content {
  width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.bio {
  height: auto;
  overflow: hidden;
}

p {
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
  font-size: 18px;
}

.title {
  overflow: hidden;
  height: auto;
  margin-top: 70px;
}

h1 {
  font-size: 40px;
  color: rgb(5, 129, 143);
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp 0.8s ease forwards 0.5s;
}
