:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /*Font Size*/
  --font-large: 35px;
  --font-medium: 24px;
  --font-small: 12px;
  --font-micro: 10px;

  /* color */
  --secondary-color: #89c3cc;
  --contrast-color: #7dbdc9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--black-color);
}

nav {
  width: 100%;
  background-color: #ffdd43;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background: var(--white-color);
}

ul li a {
  color: var(--black-color);
  text-decoration: none;
  font-weight: bold;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffdd43;
  text-align: right;
  box-sizing: border-box;
  color: var(--white-color);
  font-size: 30px;
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}

.logo {
  font-size: 28px;
  color: var(--white-color);
  font-weight: 800;
  width: 100%;
  text-align: left;
  margin: 25px 20px;
  font-stretch: extra-expanded;
}

.logo a {
  color: var(--white-color);
  text-decoration: none;
  text-decoration: overline;
}
